SOCEngine/SOCEngine/Debug/
SOCEngine/Output/
*.sdf
*.opensdf
*.ipch
*.suo
*.VC.opendb
*.VC.db
*.db-shm
*.db-wal
.vscode
*.user

Fbx-conv/build/vs2012/bin/
Fbx-conv/build/vs2012/obj/

SOCEngine-Backup/
SOCTestProject/Debug/
SOCTestProject/SOCTestProject/Debug/

ShaderFactory.hpp
*.metadata

ExternalLib/ExternalLib/Debug/
ExternalLib/Output/
