SOCEngine/SOCEngine/Debug/
SOCEngine/Output/
*.sdf
*.opensdf
*.ipch
*.v11.suo
*.VC.VC.opendb
*.VC.db

SOCTestProject/Debug/
SOCTestProject/SOCTestProject/Debug/

EngineShaderFactory.hpp
ShaderFactory.hpp
*.metadata

ExternalLib/ExternalLib/Debug/
ExternalLib/Output/
