SOCEngine/SOCEngine/Debug/
SOCEngine/Output/
*.sdf
*.opensdf
*.ipch
*.v11.suo
*.VC.VC.opendb
*.VC.db

SOCEngine-Backup/
SOCTestProject/Debug/
SOCTestProject/SOCTestProject/Debug/

ShaderFactory.hpp
*.metadata

ExternalLib/ExternalLib/Debug/
ExternalLib/Output/
